@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Một email hướng dẫn đã được gửi đến hòm thư, xin vui lòng làm theo hướng dẫn để tạo mật khẩu mới.
    </p>
</div>
	
