<hr />
<div class="container footer">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Imgs/logo.png" height="120" />
        </div>
        <div class="col-md-5">
            <p class="copyright">
                @@2018
            </p>
            <p class="reference">
                Logo made with <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo</a>
            </p>
        </div>
        <div class="col-md-3">
            <p><strong>Today: </strong>@CIF.Models.UIHelper.GetTodayViewCount()</p>
            <p><strong>Online: </strong>@CIF.Models.UIHelper.GetCurrentOnlineCount()</p>
        </div>
    </div>
</div>

