.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  font-weight: bold;
}

.footer {
  text-align: center;
}

.footer .copyright {
  font-weight: bold;
  font-size: 20px;
}

.login-form-wrapper {
    padding: 20px;
}

.login-form {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    padding: 10px;
}

.login-form input {
    border: 1px solid rgba(0,0,0,.15);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
}

.logo-wrapper {
    text-align: center;
}

.stats {
    padding: 30px;
    color: rgba(0,0,0,.5);
    font-size: 25px;
    text-align: center;
}

#search-box {
position: relative;
width: 100%;
margin: 0;
}

#search-form 
{
height: 40px;
border: 1px solid #999;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
overflow: hidden;
}

#search-text 
{
font-size: 14px;
color: #ddd;
border-width: 0;
background: transparent;
}

#search-box input[type="text"]
{
width: 90%;
padding: 11px 0 12px 1em;
color: #333;
outline: none;
}

#search-button {
position: absolute;
top: 0;
right: 0;
height: 40px;
width: 80px;
font-size: 14px;
color: #fff;
text-align: center;
line-height: 42px;
border-width: 0;
background-color:#ff8000;
-webkit-border-radius: 0px 5px 5px 0px;
-moz-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px;
cursor: pointer;
}

@media only screen and (max-width : 540px) {
    .helper {
        display: none;
    }
}